<div class="home-wrapper">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>Index</th>
      <td mat-cell *matCellDef="let user">{{ user.index }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let user">{{ user.name }}</td>
    </ng-container>

    <!-- Gender Column -->
    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef>Gender</th>
      <td mat-cell *matCellDef="let user">{{ user.gender }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let user">{{ user.email }}</td>
    </ng-container>

    <!-- Company Column -->
    <ng-container matColumnDef="company">
      <th mat-header-cell *matHeaderCellDef>Company</th>
      <td mat-cell *matCellDef="let user">{{ user.company }}</td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container *ngIf="isAdmin" matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Phone</th>
      <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container *ngIf="isAdmin" matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let user">
        <div class="d-flex">
          <button
            mat-icon-button
            color="warn"
            matTooltip="Delete user"
            (click)="deleteUser(user)"
          >
            <mat-icon aria-hidden="false" fontIcon="delete_outline"></mat-icon>
          </button>
          <button
            mat-icon-button
            color="primary"
            matTooltip="Edit user details"
            (click)="editUser(user)"
          >
            <mat-icon aria-hidden="false" fontIcon="edit"></mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
